.login-style{
    border-radius: 2%;
    background-color: white;
    height: 50vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    width: 30vw;
}
.text-form{
    margin-top: 5%;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
}
.button-container{
    margin-top: 5%;
}